{
  "parserOptions": { "ecmaVersion": 2021 },
  "env": { "jest": true },
  "plugins": ["eslint-plugin-react", "prettier"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "plugin:import/typescript"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/extensions": [
      "error",
      "always",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ]
  }
}
